<div class="sign-in-page">
 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <hr>
  <hr>
 <div class="field">
  <%= f.text_field :name, autofocus: true, class: "input-sign-in", placeholder: "Name" %>
  </div>
  <hr>
  <hr>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-sign-in", placeholder: "Email" %>
  </div>
  <hr>
  <hr>
  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", class: "input-sign-in", placeholder: "Password: 6 characters minimum" %>
  </div>
  <hr>
  <hr>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-sign-in", placeholder: "Re-enter password" %>
  </div>
  <br>
  <div class="field">
  <%= f.label :add_photo %><br />
  <%= f.file_field :photo, autofocus: true %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up", class: "sign-up-btn" %>
  </div>
 <% end %>
</div>
